<div id="footerWrap">
    <footer class="footer">
        <nav>
        <ul>
            <li><%= link_to "SHIORI" %></li>
            <li><%= link_to "JINKUN" %></li>
            <li><%= link_to "CONTACT" %></li>
        </ul>
        </nav>
    </footer>
</div>