<header>
   <nav class="navbar navbar-expand-md navbar-dark fixed-top" style ="background-color:#1f3466;">
      <div class="container-fluid">
         <a class="navbar-brand logo" href="#">KIOKU</a>
            </div>
         </div>
      </nav>
</header>


